.profile {
    height: 200px;
}
 a:hover {
        color: yellow;
      }

      nav {
        background-color: #333;
        padding: 10px;
        position: sticky;
        top: 0;
      }

      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;
        justify-content: space-evenly;
      }

      nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 16px;
      }
